* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: 'Playfair Display', Georgia, 'Times New Roman', serif;
}

.header {
  width: 100%;
  height: 104px;
  border-bottom: 1px solid #748598;
  background-color: #466a92;
  backdrop-filter: blur(10px);
  background-blend-mode: color-burn;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.first-part-header {
  border-bottom: 1px solid #748598;
  width: 100%;
}

.second-part-header {
  border-bottom: 1px solid #748598;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
}

.header-nav-text {
  color: #ebe8e8;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.header-nav-text:hover {
  color: #fff;
  border-bottom: 1px solid #fff;
  width: 100%;
  padding: 0%;
}